/* Importing the fonts */
@font-face {
  font-family: "Norse-Bold";
  src: url("./fonts/Norse-Bold.otf") format("opentype");
}

/* Resetting the default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  display: flex;
  min-height: 100vh;
}

/* For the background image */
.banner {
  flex: 1;
  background-image: url("./images/background-leaf.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* For the font */
.logo-text {
  font-family: "Norse-Bold", sans-serif;
}

/* Form section */
.form-section {
  flex: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9fafb;
}

.intro-text {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2rem 2rem;
  max-width: 70ch;
  background-color: #f9fafb;
}

.intro-text p {
  margin-bottom: 2rem;
}

.form-content {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.form-content h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.form-row {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form-group label {
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 0.25rem;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

.form-group input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
}

.form-group input:not(:placeholder-shown):invalid {
  border-color: red;
}

.form-footer {
  padding: 2rem;
  background-color: #f9fafb;
}

.form-footer button {
  background-color: #596d48;
  color: white;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.form-footer button:hover {
  background-color: #4c5e3f;
}

.form-footer p {
  margin-top: 2rem;
}

.form-footer a {
  color: #596d48;
  text-decoration: none;
  font-weight: bold;
}

/* End of form section */

/* Error message */
.error-message {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

/* Logo banner */
.logo-banner {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.logo-banner img {
  height: 100px;
}

.logo-banner h1 {
  color: white;
  font-family: "Norse-Bold", sans-serif;
  font-size: 5rem;
}

/* End of logo banner */

/* Photo credit */
.photo-credit {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 0.75rem;
}

.photo-credit a {
  color: white;
  text-decoration: underline;
}
